/* Chrome, Safari, Edge, Opera */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input[type=number] {
  -moz-appearance: textfield;
}

.list {
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  height: 32px;
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: top;
}